.footer{
    position: relative;
    background-color: $Very-Light-Gray;
    padding: 5em 0;

    background-image: url('/assets/background/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left;

    &__box{
        position: relative;
        flex-direction: column;
    }
    &__row{
        width: 100%;
        height: 2px;
        margin: 2em;
        border: none;
        background-color: $Dark-Grayish-Violet;
    }
}

.socials{
    &__logo{
        margin-bottom: 1.5em;
    }
    &__redes{
        display: flex;
        justify-content: center;
    }
    &__link{
        text-decoration: none;
    }
    &__img{
        margin: .5em;
        color: $Dark-Grayish-Violet;
        transition: all .5s;

        &:hover{
            color: $Dark-Violet;
        }
    }
}

.information{
    &__title{
        color: $Dark-Grayish-Violet;
    }

    &__links{
        @include flexCenter-column;

        &-m{
            margin: .5em;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            color: $Very-Dark-Violet;
        }
    }

}

@media screen and (min-width:1024px){
    .footer{
        background-image: url('/assets/background/bg-pattern-footer-desktop.svg');
    }
    .socials{
        width: 100%;
        display: flex;
        align-items: center;

        &__logo{
            margin-bottom: 0;
        }

        &__redes{
            margin-left: auto;
        }
        &__link{
            display: flex;
            align-items: center;
        }
    }

    .information{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,25%);

        &__title{
            text-align: left;
        }
        
        &__links{
            align-items: flex-start;
            
            &-m{
                margin-left: 0;
            }
        }
    }
}