.more{
    margin: 5em 0;
    margin-bottom: 10em;

    &__box{
        background-color: $Dark-Violet;
        position: relative;
        flex-direction: column;
        padding: 4em 0;

        &::before{
            content: "";
            display: block;
            position: absolute;
            z-index: 100;
            top: 0;
            right: 0;
            width: 60%;
            height: 100%;
            background-image: url('/docs/assets/background/bg-pattern-how-we-work-mobile.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top right;
        }
    }

    &__title{
        color: $White;
        font-family: $Font-Heads;
        font-size: 2.5em;
        margin-top: 0;
    }

    &__button{
        @include button;
    }
    &__title,&__button{
        position: relative;
        z-index: 200;
    }
}

@media screen and (min-width:1024px){
    .more{
        &__box{
            flex-direction: row;
            justify-content: center;

            &::before{
                background-image: url('/docs/assets/background/bg-pattern-how-we-work-desktop.svg');
            }

            &-center{
                display: flex;
                align-items: center;
                width: 80%;
            }
        }
        &__title{
            margin: 0;
            margin-right: auto;
            width: 39%;
            text-align: left;
        }
        &__button{
            font-size: 1.25em;
        }
    }
}