body {
  font-family: 'Karla', sans-serif;
  text-align: center;
  min-width: 360px;
  overflow-x: hidden; }

.box-container {
  overflow-x: hidden; }

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 85%; }

.menu {
  position: relative;
  background-color: white;
  padding: 1em; }
  .menu__list {
    visibility: hidden;
    opacity: 0;
    padding: 0;
    transition: all .5s;
    position: absolute;
    left: 0;
    z-index: 500;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #2b272f;
    background-image: url("/docs/assets/background/bg-pattern-mobile-nav.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom; }
  .menu__item {
    margin: 1.5em 0;
    text-transform: uppercase; }
  .menu__link {
    color: white;
    text-decoration: none; }
    .menu__link-active {
      text-decoration: none;
      color: #fafafa;
      border: 2px solid #fafafa;
      padding: .5em 1em;
      text-transform: uppercase;
      padding-left: 5em;
      padding-right: 5em; }
      .menu__link-active:hover {
        color: #2b272f;
        background-color: white; }

.box-menu__items {
  margin-top: 1em;
  list-style: none;
  color: white;
  font-size: 1.25em;
  font-weight: 700; }

.logo {
  display: block;
  margin-right: auto;
  max-width: 100%; }

@media screen and (min-width: 1024px) {
  .menu {
    padding: 2em 1em; }
    .menu__list {
      visibility: visible;
      opacity: 100;
      position: relative;
      height: auto;
      width: auto;
      margin: 0;
      background: none; }
    .menu__item, .menu__items {
      margin: 0; }
    .menu__item {
      margin: 0 1em; }
    .menu__link {
      color: #837d87;
      transition: all .5s; }
      .menu__link:hover {
        color: #2b272f; }
      .menu__link-active {
        padding-left: 2em;
        padding-right: 2em;
        color: #2b272f;
        border-color: #2b272f;
        transition: all .5s; }
        .menu__link-active:hover {
          background-color: #2b272f;
          color: white; }
  .box-menu__hamburger {
    display: none; }
  .box-menu__items {
    display: flex;
    color: #837d87;
    align-items: center;
    margin: 0;
    font-size: 1em; } }

.header {
  background-color: #2d2640;
  position: relative; }
  .header__box {
    width: auto;
    flex-direction: column-reverse; }
  .header__text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 3em 1em;
    padding-bottom: 4em;
    position: relative;
    z-index: 200; }
  .header__title {
    margin: 0;
    margin-top: .5em;
    font-family: "DM Serif Display", serif;
    font-size: 2.8em;
    font-weight: 400; }
  .header__paragraph {
    color: #fafafa;
    line-height: 25px; }
  .header__img {
    height: 100%;
    width: 100%; }
  .header__main-img {
    max-width: 100%; }
  .header__button {
    text-decoration: none;
    color: #fafafa;
    border: 2px solid #fafafa;
    padding: .5em 1em;
    text-transform: uppercase; }
    .header__button:hover {
      color: #2b272f;
      background-color: white; }
  .header::before {
    content: "";
    position: absolute;
    z-index: 100;
    display: block;
    width: 50%;
    height: 50%;
    left: 0;
    top: 50%;
    background-image: url("/assets/background/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat; }
  .header::after {
    content: "";
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 30%;
    right: 0;
    bottom: -15%;
    background-image: url("/assets/background/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; }

@media screen and (min-width: 1024px) {
  .header__box {
    flex-direction: row;
    width: 80%;
    padding: 0; }
  .header__text {
    align-items: flex-start;
    padding: 0;
    margin-right: 2em;
    left: -10px; }
    .header__text::before {
      content: "";
      display: block;
      position: absolute;
      top: -15px;
      width: 110px;
      height: 2px;
      border: none;
      background-color: white; }
  .header__title, .header__paragraph {
    text-align: left; }
  .header__title {
    width: 66%; }
  .header__button {
    padding: .5em 1.5em;
    margin-top: 1em; }
  .header__main-img {
    max-width: none;
    width: 400px;
    position: absolute;
    left: 0;
    top: 2em; }
  .header__img {
    position: relative;
    width: 100%;
    height: 500px; }
  .header::before {
    background-image: url("/assets/background/bg-pattern-intro-left-desktop.svg");
    background-size: contain;
    height: 100%;
    width: 100%; }
  .header::after {
    top: 0;
    height: 100%;
    background-image: url("/assets/background/bg-pattern-intro-right-desktop.svg");
    background-size: contain; } }

@media screen and (min-width: 1240px) {
  .header__box {
    padding-top: 2em;
    padding-bottom: 2em; }
  .header__text {
    width: 95%; }
    .header__text::before {
      width: 125px; }
  .header__title {
    font-size: 3em;
    width: 75%; }
  .header__button {
    padding: .7em 1.5em; }
  .header__main-img {
    max-width: none;
    width: 540px;
    position: absolute;
    right: 0; }
  .header__img {
    position: relative;
    width: 100%;
    height: 500px; } }

@media screen and (min-width: 1440px) {
  .header__title {
    font-size: 3.5em; } }

.features {
  margin-top: 6.5em; }
  .features__box {
    flex-direction: column;
    position: relative; }
    .features__box::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 150px;
      height: 2px;
      background-color: #837d87; }
  .features__title, .features__subtitle {
    font-family: "DM Serif Display", serif; }
  .features__title {
    font-size: 2.5em; }
  .features__subtitle {
    font-size: 1.5em; }
  .features__paragraph {
    margin: 0 auto;
    line-height: 22.5px;
    color: #837d87; }

.grid__item {
  margin: 3em 0; }

@media screen and (min-width: 1024px) {
  .features {
    margin-top: 15em; }
    .features__box::before {
      left: 0; }
    .features__title {
      font-size: 4em;
      margin-right: auto; }
    .features__subtitle {
      font-size: 1.5em; }
    .features__paragraph {
      text-align: left;
      line-height: 25px; }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 33.3%); }
    .grid__item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 1em;
      margin-right: 1em; }
      .grid__item:nth-child(1) {
        margin-left: 0; } }

@media screen and (min-width: 1440px) {
  .features__paragraph {
    padding-right: 1em; } }

.more {
  margin: 5em 0;
  margin-bottom: 10em; }
  .more__box {
    background-color: #2d2640;
    position: relative;
    flex-direction: column;
    padding: 4em 0; }
    .more__box::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      width: 60%;
      height: 100%;
      background-image: url("/assets/background/bg-pattern-how-we-work-mobile.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top right; }
  .more__title {
    color: white;
    font-family: "DM Serif Display", serif;
    font-size: 2.5em;
    margin-top: 0; }
  .more__button {
    text-decoration: none;
    color: #fafafa;
    border: 2px solid #fafafa;
    padding: .5em 1em;
    text-transform: uppercase; }
    .more__button:hover {
      color: #2b272f;
      background-color: white; }
  .more__title, .more__button {
    position: relative;
    z-index: 200; }

@media screen and (min-width: 1024px) {
  .more__box {
    flex-direction: row;
    justify-content: center; }
    .more__box::before {
      background-image: url("/assets/background/bg-pattern-how-we-work-desktop.svg"); }
    .more__box-center {
      display: flex;
      align-items: center;
      width: 80%; }
  .more__title {
    margin: 0;
    margin-right: auto;
    width: 39%;
    text-align: left; }
  .more__button {
    font-size: 1.25em; } }

.footer {
  position: relative;
  background-color: #fafafa;
  padding: 5em 0;
  background-image: url("/assets/background/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left; }
  .footer__box {
    position: relative;
    flex-direction: column; }
  .footer__row {
    width: 100%;
    height: 2px;
    margin: 2em;
    border: none;
    background-color: #837d87; }

.socials__logo {
  margin-bottom: 1.5em; }

.socials__redes {
  display: flex;
  justify-content: center; }

.socials__link {
  text-decoration: none; }

.socials__img {
  margin: .5em;
  color: #837d87;
  transition: all .5s; }
  .socials__img:hover {
    color: #2d2640; }

.information__title {
  color: #837d87; }

.information__links {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .information__links-m {
    margin: .5em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #2b272f; }

@media screen and (min-width: 1024px) {
  .footer {
    background-image: url("/assets/background/bg-pattern-footer-desktop.svg"); }
  .socials {
    width: 100%;
    display: flex;
    align-items: center; }
    .socials__logo {
      margin-bottom: 0; }
    .socials__redes {
      margin-left: auto; }
    .socials__link {
      display: flex;
      align-items: center; }
  .information {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%); }
    .information__title {
      text-align: left; }
    .information__links {
      align-items: flex-start; }
      .information__links-m {
        margin-left: 0; } }

.active__menu {
  visibility: visible;
  opacity: 100; }

.active__body-hiX {
  overflow-y: hidden; }
